.add-button {
    background-color: #2196f3; /* Azul */
    color: white;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 24px;
    cursor: pointer;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s;
  }
  
  .add-button:hover {
    background-color: #0d47a1; /* Azul más oscuro al pasar el ratón */
  }
  